html {
    font-size: 16px;
    color: #000;
    font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
}

h1 {
    font-size: 3.125rem;
    margin: 0.67em 0;
    --color: #e01e5a;
    --prefix: 'ERROR: ';
    font-family: Slack-Larsseit, 'Helvetica Neue', Helvetica, 'Segoe UI',
        Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.8px;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

:root {
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --sidebar-color: #400d40;
    --sidebar-highlight-color: #1264a3;
    --attachment-color: #000;
    --more-count: '+1';
}

nav {
    background-color: white;
    margin-top: 12.5px;
    margin-left: 12.5px;

}

#slack-logo {
    width: 125px;
    width: "100";
    height: "37";
}



#nav-spacing-initial {
    width: 200px;
}

.nav-talk-to-sales {
    border-color: #611f69 !important;
    color: #611f69 !important;
}

.nav-talk-to-sales:hover {

    border: 2px solid #611f69 !important;


}

#nav-get-started {
    background-color: #611f69;
    color: white !important;
    border-color: #611f69 !important;

}

div ul li a {
    color: #1d1d1d !important;
    font-weight: 700;
    font-size: 9.375rem;
    font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
}

.margin-top-flush {
    margin-top: 0rem !important;
}

@media screen and (min-width: 64rem) {
    h1 {
        font-size: 3.125rem;
    }
}

.nav-font-adjust {

    padding: .25rem .75rem;
    font-size: .9375rem;

}

.button {

    display: inline-block !important;
    width: auto !important;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: .8px;
    font-size: .875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px !important;
    display: block;
    width: 100%;
    transition: box-shadow 420ms cubic-bezier(.165, .84, .44, 1), color 420ms cubic-bezier(.165, .84, .44, 1), background 420ms cubic-bezier(.165, .84, .44, 1) !important;

}

.button:hover {
    background-color: #4a154b !important;
    border-color: #4a154b !important;
}

.nav-get-started:hover {
    background-color: #4a154b !important;
    border-color: #4a154b !important;
}

*,
::after,
::before {
    box-sizing: inherit;
}

/* @media screen and (min-width: 67.8125rem) {
     
}#first-nav-bar{
        border-radius: 50px !important;
        margin-top: .5rem !important;
        padding: 0 2.225rem !important;
        box-shadow: 0 4px 40px rgba(0, 0, 0, .15) !important;
    } */


#first-nav-bar {
    border-radius: 50px !important;
    padding-left: 30px !important;
    padding: 15px !important;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .15) !important;
}

.shadow-effect {

    /* box-shadow: 0 4px 40px rgba(0, 0, 0, .15) ; */
}

.c-logo-bar__item {
    margin: 22px;
}

ul li {
    display: flex;
    align-items: center;
}

.animation-for-navbar {
    animation-name: myAnimation;
    animation-direction: alternate;
    /* transition-duration: 500ms; */
    /* transition-duration: 2s; */
    /* transition-property: margin-top, color; */
    /* animation-timeline: scroll(block nearest); */
    /* animation-timeline: linear; */
    /* animation-timeline: scroll(x self); */
    /* animation-timeline: scroll(inline root); */
    transform: translateY(10px);
    transition: transform 0.4s ease-in-out;
    /* transition: transform 1s cubic-bezier(.165, .84, .44, 1); */


}

/* @keyframes myAnimation {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);

    }
} */

.custom-bg-color {
    background-color: #f4ede4 !important;
}

.custom-bg-purple {
    background-color: #611f69 !important;
}

.custom-border-purple {
    border-color: #611f69 !important;
}

.custom-font-purple {
    color: #611f69;
}

.wd-25 {
    width: 25px;
}

.wd-30 {
    width: 30px;
}

#home-get-started-btn {
    color: white;
    padding: 10px;
}

.slack-free-try {
    margin-top: 16px;
    margin-bottom: 0px;
    color: black;
}

.content-space-around {
    justify-content: space-around;
}

.airbnb-logo {
    margin-top: 9px !important;
}

.nasa-logo {
    margin-top: 0px !important;
}

.uber-logo {
    margin-top: 12px !important;
}

.target-logo {
    margin-top: 4px;
}

.nav-transition-effect {
    transform: translateY(-100px, 10px);
    transition: transform 1s ease-in-out;
    
}

.pos-fix {
    position: fixed;
    align-self: center;
}

.bold-font-slack {
    font-weight: 700;
}

.font-for-slack {
    font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif !important;
}

.font-size-46 {
    font-size: 46px;
}

.content-bold-font {
    font-weight: 700;
    font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
    font-size: 46px;
    word-spacing: -5px;

}

.content-font {
    font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.home-meet-slack-for-enterprise {
    color: white;
    padding: 10px;
}

.font-size-70 {
    font-size: 70px;
}

.sec-6 {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

.custom-grid-rows-3 {
    display: grid;
    grid-template-rows: auto auto auto;
}

.teams-large-and-small {
    margin: 100px auto 7px auto
}

.nav-talk-to-sales-bottom {
    display: inline;
    padding: 19.5px;
    margin-bottom: 0cap;
}

.sec-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 78rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.custom-grid-rows-2 {
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin-right: 125px;
}

.eight-five-percentage {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.font-size-14 {
    font-size: 14px;
}

.card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transform: scale(1.05);
    transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
}

.font-size-33 {
    font-size: 33px;
}

.card-shadow {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
}

.footer-headings {
    font-size: 14px;
    font-weight: 600;
}

.footer-content {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.negative-position{
    transform-origin: -100px !important;
}